conda.enabled = true

profiles {
    local {
        process.conda = "/Users/peter.naylor/mambaforge/envs/isrin"
        executor.queueSize = 1
    }
    Jupyter {
        executor.queueSize = 100
        executor.queue = 'cpu'
        process.executor = 'pbs'
        process.conda = "/lustre/home/u01020001/mambaforge/envs/isrin"
    }
}
env {
    PYTHONPATH="$PWD:$PWD/INR4Torch"
}